<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="mt-3">
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Ingresa tu nombre de usuario">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingresa tu contraseña">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  