
<section class="py-5 text-center container" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://blog.tps.com.mx/hubfs/Blog%20Marzo%202019/7-TPS-Marzo-Imagenes-Blog-Medidas-de-precaucion-para-el-estacionamiento-solo.jpg'); background-size: cover; background-position: center; color: white;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-dark">Niveles de estacionamiento</h1>
            <h1 class="fw-light">Lista completa de niveles de cada Empresa </h1>
            <p>
                <button href="#" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Empresa</button>
            </p>
        </div>
    </div>
</section>
  
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        <div class="col" *ngFor="let nivel of niveles">
          <div class="card shadow-sm">
            <div class="image-container">
              <a [routerLink]="['/niveles']">
                <img class="bd-placeholder-img card-img-top" [src]="nivel.imagen" alt="Thumbnail">
              </a>
    
            </div>
            <div class="card-body">
              <h4 class="card-title">{{nivel.nivel}}</h4>
            
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" >Editar </button>
                  <button type="button" class="btn btn-sm btn-outline-danger"
                    >Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  




