<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 
  <title>Static Navigation - SB Admin</title>
</head>

<body >
  <app-nav></app-nav>

  <div id="layoutSidenav">

    <div id="layoutSidenav_nav">
      <app-side></app-side>

    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">

          <div class="card mb-4">
            <div class="card-body">
              <router-outlet></router-outlet>

            </div>
          </div>
          <div style="height: 100vh"></div>

        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="/assets/js/scripts.js"></script>
  
</body>

</html>